body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Sets the line height for paragraphs */
p {
    line-height: 1.5;
}

/* height of images */
img {
    max-height: 400px;
}

/* Highlight the list as important with a class */
.highlight {
    color:blueviolet;
}